body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    background-color: rgb(13, 73, 100);
    text-align: center ;

}
header{
    background: rgb(44, 44, 129);
    color: white;
    padding: 15px 0; /* espaçamento interno 15px acima e abaixo, e 0px esquerda á direita */
    font-size:24px;
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 100px;

}

nav {
    background-color: rgb(13, 73, 100);
    padding: 25px 10px;
    display: flex;/*Flex Boxing*/
    /*alinhamento na horinzontal - espaça entre os links*/
    justify-content: center;
    /*alinhamento na vertical*/
    align-items: center;

}
#links-menu{
    display:flex;
    gap:15px;
}
/* configura o estilo das âncoras que estão dentro do nav*/
nav a{
    color:white;/*texto branco*/
    text-decoration: none;/*não faz decoração no link*/
    padding: 10px 15px;/*10px é acima e abaixo 15px é esq e dir*/
    font-size: 18px;/*18px de tamanho da fonte*/
    background: rgb(0, 23, 128);/*cor de fundo*/
    border-radius: 5px;/*borda com canto arredondado*/

}
nav a:hover {
    background:rgb(62, 19, 179)
}
img{
    width: 120px;
    height: auto;
    margin-right: 20px;/*espaçamento externo à direita de 20px*/
    border-radius: 10px;

}

.container{
    width: 80%;
    /* 20px em cima e em baixo e automático esquerda e direirta*/
    margin: 20px auto;
    background: white;
     /*espaçamento interno é nos 4 lados*/
    padding: 20px;
    border-radius: 10%;
    text-align: justify;
}

h2{
    text-align: center;
}

table tr td{
    padding: 20px ;
}

table{
    /*esp. externo de 0 acima e abaixo e automático esq. dir.*/
    margin: 0 auto; 
}

.laranja{
    background-color:orange ;
}

.azul{
    background-color:blue ;
    color: white;
}

.preta{
    background-color: black;
    color: white;
}

.roxo{
    background-color: purple;
}

.verde{
    background-color: green;
}

.vermelha{
    background-color: red;
}

.campos{
    padding: 20px;
}

.imagemtrote{
    width: 75px;
    height: 75px;
}

#equipe{
    cursor:pointer; 
    background-color: rgba(72, 72, 110, 0.274);
    color:black;
    border-radius: 10px;
    border:none;
}

.contagem{
    cursor:pointer; 
    border-radius: 10px;
}

#estrutura{
    width: 80%;
    /* 20px em cima e em baixo e automático esquerda e direirta*/
    margin: 20px auto;
    background: white;
     /*espaçamento interno é nos 4 lados*/
    padding: 20px;
    border-radius: 5%;
    text-align: justify;
}

.centralizar{
    text-align: center;
}



